.custom-icon {
  position: relative;
  top: 0.8px;
}

.youtube-link {
  transition: font-size 0.1s ease, font-weight 0.05s ease !important;
}

.youtube-link:hover {
  font-size: 1.1em !important;
  font-weight: bold !important;
}

.bg-image {
  min-height: calc(100vh - 56px);
  padding: 50px 0;
}

.separator-card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.4);
  margin-top: 20px;
}

/* Responsive Adjustments */
@media (max-width: 767.98px) {
  .bg-image {
    padding: 30px 0;
    min-height: calc(100vh - 56px);
  }

  .container {
    padding: 15px;
    margin-top: -20px;
  }

  .display-4 {
    font-size: 2.5rem;
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .bg-image {
    padding: 50px 0;
  }

  .container {
    padding: 20px;
    margin-top: -20px;
  }

  .display-4 {
    font-size: 3rem;
  }
}
