<div class="bg-image" style="background: url('home image.jpg') center/cover no-repeat;">
  <div class="container mt-4 mb-5">
    <div class="bg-light rounded-4 p-4 p-md-5 shadow-lg text-center">
      <h1 class="display-4 display-md-3 text-primary mb-4">Welcome to Recipe Finder!</h1>
      <p class="lead mb-4 text-muted">Discover and explore recipes from around the world with ease.</p>
      <hr class="my-4">
      <p class="mb-4 text-dark">Unleash your inner chef with our curated selection of recipes from every corner of the globe. Whether you're a culinary novice or a seasoned chef, we've got something to inspire your next meal.</p>
      <a class="btn btn-primary btn-lg px-4 py-2 rounded-pill shadow-sm transition-hover" [routerLink]="['/search']" role="button">Get Started</a>
    </div>
  </div>
</div>
